SUPABASE_URL=https://vnbtekfjyibefdatiqwy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuYnRla2ZqeWliZWZkYXRpcXd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0ODM3MDIsImV4cCI6MjA5MjA1OTcwMn0.IdN5D24tgK6-slsJETE5bUX8bFGdBFaFstFMydOFyR8
NEXT_PUBLIC_API_URL=http://localhost:8000
